{
    email admin@2b2theatmap.info
}

2b2theatmap.info {
    encode zstd gzip

    reverse_proxy host.docker.internal:3000
}

api.2b2theatmap.info {
    encode zstd gzip

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "*"
        Access-Control-Max-Age "3600"

        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
    }

    @options {
       method OPTIONS
    }
    respond @options 204

    reverse_proxy backend:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
    }
}